/* global css style start here */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');    

/* global CSS Style */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none; 
}


:root{
    --bg-white:#ffffff; 
    --bg-primary-text:#061738;
    --secondary-text:#60cd12;
    --light-color:#e2f6de;   /* */
    --dark-color:#03262c;
    --text-white:#fff;
    --text-gray:#dee2e6;
    --anchor-color:#007aff; 
}


body, html {
    color:var(--primary-text);
    font-size:10px;    /*1rem = 10px */
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth; 
    line-height: 1.5;
}

*{
    -webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    outline:none;   
} 
/* global CSS Style Ends here */



/* Predefined CSS Classes starts */
section{
    padding:5rem 0;
}

.section-title{
    font-size:4rem;
    font-weight:600;
    color:var(--primary-text); 
    text-transform: capitalize; 
    margin-bottom: 2rem;
}

.section-subtitle {   
    font: size 1.6rem;  
    font-weight: 400; 
    color:var(--primary-text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 40%;
    margin: auto;  
    margin-bottom: 1.5rem;  
}
/* predefined CSS Classes ends */  



/* .navbar{
    position:relative;
    display:flex; 
    align-items: center;
} */


/* navbar start here */
i.fa .fa-bars .navbar-toggler-icon{
    color: white;
    font-size: 20px;
}

ul{
    margin:0;
    padding: 0;
    list-style: none;

}  

.header{  
    position:absolute;
    width:100%; 
    top:2rem;
    left:0;  
    z-index:2;   
}

.header .navbar {
    background: linear-gradient(45deg, #2c582d, #4c5d4885),url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    padding: 2rem 5rem;
    color:white; 
} 

.navbar-brand{
    width:7.5rem; 
    margin-top: -0.1rem; 
}

.navbar-brand img{
    width:100%;   
    /* height:80px;  */
} 

.nav-link{
    color:var(--text-white);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin:0 0.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}  

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(113 211 116);
}

.navbar-light .navbar-nav .nav-link{   
    color:rgb(255 247 247);
    font-family:monospace; 
} 

.navbar-toggler{ 
    color:var(--text-white);
    font-size: 2rem;
    height:2.7rem;
    padding:0; 
}

.navbar-toggler:focus{
    outline-color:white;
    box-shadow:none; 
}  

.header-right{
    border:1px solid white;
    padding:2px 14px;
    box-shadow:0px 0px 15px 0px white;
    border-radius:11px; 
    width:fit-content;
}

.header-right span{
    color:var(--secondary-text); 
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;  
}

.header-right .phone_no{      
    color:var(--text-white);   
    font-size: 1.6rem; 
}

 .header-scrolled {
    position: fixed;
    top:-0.4rem;
    left:0;
    right:0;
    width:100%;
    max-width:2000px;
    margin:auto;
    z-index:999;
    transition: 0.3s all ease-in-out;
  }

  #callus{
    color:white;  
    font-size: 2rem;
    font-family: 'Lato', sans-serif;

}
/* navbar ends here */


/* banner section start here */
.banner_section { 
    background: linear-gradient(210deg, #747242, #111609a8), url(../images/banner-top.jpg);
    background-repeat: no-repeat;  
    background-position: center;   
    background-size: cover;
    height:100vh; 
    margin-top: 0rem;   
    padding-top: 12rem;   
    /* height:1000px;  */
}

.container{
    padding-top: 0rem ;
}

.carousel-item {
    padding: 0rem 0rem;
    height:60vh;   
}

.carousel-caption {
    top:10%;  
    bottom: 0%;
    left:3%;
    right:0%;
    width:100%;
}

.banner-content h1{
    color:var(--text-white); 
    font-size:62px;
    margin-bottom: 3rem; 
    font-family: 'Lato', sans-serif;

}  

.banner-content h2{
    color :#ffcb2f;
    padding:0.5rem 1.5rem;
    background-color: #1c180e;
    display:inline;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}  

.banner-content p{   
  color:rgb(144, 218, 88);
  max-width:40rem;
  /* margin-bottom: 2rem;
  margin-top: 3rem; */  
  font-size: 1.7rem;
  text-align: center;
  margin:auto;
  padding-top: 2rem;   
  font-family: 'Lato', sans-serif;  

}    

.main-btn {  
    position: relative;
    color:var(--bg-white); 
    background: linear-gradient(to right, #0f7404 , #5cb917); 
    z-index: 1; 
    overflow: hidden; 
    border: 0.2rem solid var(--bg-white);   
    border-radius: 3.5rem; 
    text-transform: uppercase; 
    padding: 1rem 3.5rem;  
    font-weight: 600;  
    font-size: 1.8rem;  
    margin-top: 1.5rem;           
    letter-spacing: 0.2rem;   
    font-family: 'Lato', sans-serif;                 
}   

.main-btn:hover { 
 background: var(--text-white);
 color:var(--secondary-text); 
 border:0.2rem solid var(--secondary-text); 
} 


/* banner_section ends here */


/* Feature Section starts here */

section.feature_section{
    background-color: darkslategray;
}

.feature_section .feature-box{
    background-color: transparent;
    border:0.15rem solid green;
    padding:2rem;
    transition:all 0.3s;
    margin-top:15%;
}

.feature_section .feature-box:hover{
  background-color: firebrick;
  padding: 10%;
  border-color: darkslategray;  
  cursor:pointer;  
}

.feature_section .feature-icon-border{
    background-color: transparent;
    border-radius: 50%;
    border:0.2rem solid white;
    padding: 1.3rem;
    display: inline-block;  
}

.feature_section .feature-box :hover .features-icon-border{
    background-color: #5cb917;
}

.feature_section .feature_box .features-icon{
    height:6.5rem;
    width:6.5rem;
    background-color: white;
    margin:auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.feature_section .feature-box .features-icon img{
    width:3.7rem;  
}

.feature_section .feature-box h3 {
    margin-top: 1.5rem;
    color:orange;
    font-size:20px; 
}

.feature_section .feature-box :hover h3{  
    color:white;  
}

/* Feature Section starts here */


/* about section start here */
.landing_about_section{
    background: url(../images/landing\ about\ us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9rem 0;
}

.landing_about_section{ 
    font-size: 2.5rem;
}
   
.landing_about_section p{
    color:var(--primary-text);   
    margin:2rem;
    font-size: 1.5rem;
}
/* about section ends here */  



/* product section start here */
section.landing_product_section{
background-color: #373737;
}

section.landing_product_section h2.section-title{
    color:white;
}

section.landing_product_section p.section-subtitle{
    color:wheat;
    font-size: 1.8rem; 
}

.landing_product_section .product-card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 0.25rem solid transparent;
    padding: 2rem 1rem;
    transition: all 0.3s ease 0s;
    background-color: darkslategray;
}

.landing_product_section .product-card img{
    margin-bottom: 7rem;
    text-align: center;
    height: 166px;
    width:100%;
}

.landing_product_section .product-card h3{
    color: var(--primary-text);
}

.landing_product_section .product-card span{
    font-size:1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-text);
    margin-right: 0.5rem;
    text-decoration: line-through;
    transition: all 0.3s;
}

.landing_product_section .product-card .product-detail{
    position: absolute;
    bottom: -22rem;
    right: 0;
    left: 0;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--dark-color);
    transition: all 0.5s ease;
}

.landing_product_section .product-card:hover .product-detail{
    bottom: 0;   
}



/* product section start here */








/*
a, a:active, a:hover, button {
    text-decoration: none;  
    outline: 0;
}

li a{
    color:var(--text-white)
}

a:hover,button:hover{
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in; 
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

i.fa-solid.fa-bars{
    color:white;
    font-size: 21px;
    outline-color:white;
    outline-style: auto;
    outline-offset: 3px; 
}

.test{   
    height: 500px;
    background-color: #60cd12;  
}

.header-scrolled {
    position:fixed;
    width:100%;
} 

.carousel-caption {
    top:30%;
    bottom: 0;
    left:3%; 
    right:0;
    width:100%;
}

*/






/* right scrollbar start here */
 /* ::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background: var(--bg-white);
}

::-webkit-scrollbar-thumb{   
    background: var(--seconday-text);
}  */

/* right scrollbar ends here */  



